/* ===================================
           TABLE OF CONTENT
=====================================
1- Header style
2- IconButton
3- Modal
4- MediaQuerry
*/

/* ===================================
        1   Header style
=====================================*/

header.flex {
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 1.2rem;
}

header.flex nav {
  background-color: var(--bgHeader);
  padding: 0.77rem 1.6rem;
  border-radius: 55px;
  box-shadow: 1px 1px 40px #2323242a;
}

header ul.flex {
  gap: 16px;
}

header ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;
}

header ul li a:hover {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
}

header button {
  font-size: 1.2rem;
}
header button.menu {
  display: none;
}
/* ===================================
        2        Icons
=====================================*/

header .icon-menu,
header button.mode {
  background-color: var(--bgHeader);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  color: var(--subtitle);
  border: 1px solid rgba(244, 165, 96, 0.249);
  transition: 0.2s;
  box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
}

header .icon-sun {
  color: rgb(235, 165, 0);
}

header .icon-moon-o {
  box-shadow: 1px 1px 30px rgba(221, 221, 253, 0.144);
}

header .icon-menu:hover,
header button.mode:hover {
  color: var(--title);
  border: 1px solid rgb(244, 165, 96);
}

header .icon-cancel {
  font-size: 1rem;
  color: var(--subtitle);
  transition: 0.3s;
}

header .icon-cancel:hover {
  font-size: 1.3rem;
  color: crimson;
  /* For Chrome, Safari,edge, etc. */
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ===================================
        3         Modal=PopUp
=====================================*/
header .fixed {
  position: fixed;
  inset: 0;
  background-color: rgba(40, 40, 48, 0.91);
  z-index: 11;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

@keyframes eclat {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

header .fixed ul.modal {
  animation: eclat 0.7s 1;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}

header .fixed ul.modal li {
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}

header .fixed ul.modal li:first-child {
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: 0.2rem;
  margin-bottom: -1rem;
}

header .fixed ul.modal li:last-child {
  border: none;
}

header .fixed ul.modal li a {
  font-size: 1rem;
}

/* ===================================
        4    MediaQuerry
=====================================*/

@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }
  header button.menu {
    display: block;
  }
}
